* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.main-container {
  background-color: #1d1d1d;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.score-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.runz-tagline {
  font-size: 0.9rem;
  text-align: center;
  max-width: 30rem;
}

.runz-heading {
  font-size: 3.5rem;
}

.toss-button {
  background-color: #1d1d1d;
  border: 2px solid rgb(73, 73, 73);
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.toss-result {
  font-size: 1.25rem;
  margin-top: 1rem;
  color: #ffffff;
}

#choices{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

#scoreboard {
  display: flex;
}

#scoreboard div {
  margin: 0 2rem;
}

#player-score,
#computer-score {
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 600;
}

.label {
  margin-top: -0.5rem;
  font-size: 1rem;
}

.over-input {
  display: block;
  margin: auto;
}

.choice-button {
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.over-input {
  margin-top: 1rem;
}

#overs-input {
  padding: 0.25rem;
  border: 1px solid #1d1d1d;
  border-radius: 8px;
}

#result {
  display: flex;
  margin-top: 2rem;
}

#result div {
  margin: 0.5rem;
}
